#modal-header {
    width: auto;
    justify-content: flex-end;
    margin-bottom: 5vh;
    #icon-close-modal {
        margin: 5vh 4vw 0px 0px;
        &:hover {
            cursor: pointer;
        }
    }
}

#modal-form {
    align-items: center;
    width: 100%;
    .modal-input {
        flex-direction: row;
        font-size: 16px;
        padding: 1vh 1vw 1vh 1vw;
        margin: 2vh 1rem 2vh 1rem;
        flex-grow: 1;
    }
    .input-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }
    #button-wrapper {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 0px 3rem 3rem 0rem;
        gap: 2vw;
        .modal-button {
            padding: 1vh 1rem 1vh 1rem;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            &-confirm {
                background-color: #27ae60;
            }
            &-delete {
                background-color: #e74c3c;
            }
        }
    }
}
